@{
      Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .bor-tab {
            border: 1px solid black;
        }
    </style>
    <title>Le Nostre Pizze</title>
    
</head>
<body>
    <div>
        <h1>Le nostre pizze</h1>
        <h2>La top 3 di questa settimana</h2>
    </div>
    <div>
        <table class="bor-tab">
            <tr>
                <th><h3>Nome</h3></th>
                <th><h3>Descrizione</h3></th>
                <th><h3>Foto</h3><th>
                <th><h3>Prezzo</h3></th>
            </tr>
            <tr>
                <td>Regina Margherita</td>
                <td>Pizza margherita con mozzarella di Bufala</td>
                <td><img src="~/img/bufala.jpg" /></td>
                <td>12.00€</td>
            </tr>
            <tr>
                <td>Pizza Diavola</td>
                <td>Pizza margherita con salame piccante</td>
                <td><img src="~/img/diavola.jpg" /></td>
                <td>7.00€</td>
            </tr>
            <tr>
                <td>Pizza Americana</td>
                <td>Pizza margherita con wurstel e stick</td>
                <td><img src="~/img/americana.jpg" /></td>
                <td>8.00€</td>
            </tr>
        </table>
    </div>
</body>
</html>
